html, body, form, h1, h2, h3, h4, h5, h6, ul, ol, legend {
  margin: 0;
  padding: 0;
}

img {
  line-height: 0;
  border: 0;
}

a:link,
a:visited {
  color: lightcoral;
  text-decoration: none;
}

/*
 * Retina Sprites for Compass
 * by:              Gaya Kessler
 * last update:     03/11/14
 *
 * Usage:
 * 1. create two folders in your image directory (in this case 'icons' and 'icons-2x').
 * 2. adjust the foldernames defined below if you use different names.
 * 3. create sprite images for pixel ratio 1 screens and put them in the first folder.
 * 4. create sprite images for pixel ratio 2 screens and put them in the second folder, use the same filenames.
 * 5. use the sprite-image in your Sass/Scss using: '@include use-sprite(<sprite-name>)'
 */
/*
 * Retina Backgrounds for Compass
 * by:              Gaya Kessler
 * last update:     03/11/14
 *
 * Usage:
 * 1. create background image for pixel ratio 1 screens and put it somewhere in your images folder.
 * 2. create background image for pixel ratio 2 screens and put it somewhere in your images folder.
 * 3. include the background-image property in your Sass/Scss using: '@include background-retina(<ratio-1-imagefile>, <ratio-2-imagefile>)'
 */
.icon-thumb {
  background-image: url('../resources/images/icons-s95ecfa2edd.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 225px;
  width: 225px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .icon-thumb {
    background-repeat: no-repeat;
    background-image: url('../resources/images/icons-2x-s4e5a6c24d4.png');
    background-size: 112.5px 112.5px;
    background-position: 0 0;
    height: 113.5px;
    width: 113.5px;
  }
}

.is-green {
  color: green !important;
}

.is-orange {
  color: orange !important;
}

.is-red {
  color: red !important;
}

.is-green-bg {
  background-color: green !important;
}

.is-orange-bg {
  background-color: orange !important;
}

.is-red-bg {
  background-color: red !important;
}
