@mixin bg($img)
    background: image-url("#{$img}") no-repeat
    width: image-width("#{$img}")
    height: image-height("#{$img}")

@mixin icons-bg($img)
    width: image-width("icons/#{$img}")
    height: image-height("icons/#{$img}")

@mixin box-shadow($top, $left, $blur, $size, $color, $inset: false)
    @if $inset
        -webkit-box-shadow: inset $top $left $blur $size $color
        -moz-box-shadow: inset $top $left $blur $size $color
        box-shadow: inset $top $left $blur $size $color

    @else
        -webkit-box-shadow: $top $left $blur $size $color
        -moz-box-shadow: $top $left $blur $size $color
        box-shadow: $top $left $blur $size $color

@mixin alpha($val)
    filter: alpha(Opacity=$val*10, Style=0)
    -moz-opacity: $val / 10
    opacity: $val / 10

@mixin x-user-select($value: none)
    -webkit-user-select: $value
    -moz-user-select: $value
    -ms-user-select: $value
    user-select: $value

@mixin box-sizing($box-model)
    -webkit-box-sizing: $box-model
    -moz-box-sizing: $box-model
    box-sizing: $box-model

@mixin border-radius($radius)
    -webkit-border-radius: $radius
    -moz-border-radius: $radius
    border-radius: $radius
    background-clip: padding-box    /* stops bg color from leaking outside the border: */

@mixin opacity($opacity)
    opacity: $opacity
    $opacity-ie: $opacity * 100
    filter: alpha(opacity=$opacity-ie) //IE8


@mixin rotate($rotate: 0)
    -webkit-transform: rotate($rotate +deg)
    -moz-transform:    rotate($rotate +deg)
    -ms-transform:     rotate($rotate +deg)
    -o-transform:      rotate($rotate +deg)
    transform:         rotate($rotate +deg)

@mixin scale($scale: 1)
    -webkit-transform: scale($scale)
    -moz-transform:    scale($scale)
    -ms-transform:     scale($scale)
    -o-transform:      scale($scale)
    transform:         scale($scale)

@mixin skew($skew: 0)
    -webkit-transform: skew($skew +deg)
    -moz-transform:    skew($skew +deg)
    -ms-transform:     skew($skew +deg)
    -o-transform:      skew($skew +deg)
    transform:         skew($skew +deg)

@mixin translate($left: 0, $top: 0)
    -webkit-transform: translate($left +px, $top +px)
    -moz-transform:    translate($left +px, $top +px)
    -ms-transform:     translate($left +px, $top +px)
    -o-transform:      translate($left +px, $top +px)
    transform:         translate($left +px, $top +px)

@mixin blur($size: 10px)
    filter: url(blur.svg#blur)
    -webkit-filter: blur(10px)
    -moz-filter: blur(10px)
    -ms-filter: blur(10px)
    filter: blur(10px)
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10, MakeShadow=false)

@mixin origin($x: 50%, $y: 50%)
    -webkit-transform-origin: $x $y
    -moz-transform-origin: $x $y
    -ms-transform-origin: $x $y
    transform-origin: $x $y

@mixin transition($type: all, $sec: .3s, $fx: ease)
    -webkit-transition: $type $sec
    -moz-transition: $type $sec
    -ms-transition: $type $sec
    -o-transition: $type $sec
    transition: $type $sec
    -webkit-transition-timing-function: $fx
    -moz-transition-timing-function: $fx
    -ms-transition-timing-function: $fx
    -o-transition-timing-function: $fx
    transition-timing-function: $fx


@mixin placeholder-color($color)
    &::-webkit-input-placeholder  /* WebKit browsers */
        color: $color
    &:-moz-placeholder  /* Mozilla Firefox 4 to 18 */
        color: $color
    &::-moz-placeholder  /* Mozilla Firefox 19+ */
        color: $color
    &:-ms-input-placeholder  /* Internet Explorer 10+ */
        color: $color


// @include rotate(15);          rotates object 15 degrees
// @include scale(1.5);          scales object 50% up
// @include skew(12);            skews object 12 degrees
// @include translate(10, -20);  moves object 10px left, -20px top